<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="practice.Selenium_Maven_Practice.RetryListener"/>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="practice.Selenium_Maven_Practice.One"/>
      <class name="practice.Selenium_Maven_Practice.Two"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
